extends ../../layout

block activate
    - activate('settings/password')

block content
    div.content-wrapper
        section.content-header
            h1 Change Password
            ol.breadcrumb.hidden-xs.hidden-sm
                li
                    a(href=urls.generate('/dashboard'))
                        i.fa.fa-dashboard
                        span Dashboard
                li.active
                    a(href='#')
                        i.fa.fa-key
                        span Change Password

        section.content
            if successMessage && successMessage.length !== 0
                div.alert.alert-success.alert-dismissible(role='alert')
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                        span(aria-hidden='true') &times;
                    span= successMessage
            if errorMessage
                div.alert.alert-warning.alert-dismissible(role='alert')
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                        span(aria-hidden='true') &times;
                    span= errorMessage

            div.box.box-primary
                div.box-body
                    form.form-horizontal(method='post')
                        div.form-group.form-group-sm
                            label.col-sm-2.control-label(for='settings-password-old') Old Password
                            div.col-md-6.col-sm-10
                                input#settings-password-old.form-control.input-sm(
                                name='password-old' type='password')
                        div.form-group.form-group-sm
                            label.col-sm-2.control-label(for='settings-password-new') New Password
                            div.col-md-6.col-sm-10
                                input#settings-password-new.form-control.input-sm(
                                name='password-new' type='password')
                        div.form-group.form-group-sm
                            label.col-sm-2.control-label(for='settings-password-confirm') Confirm
                            div.col-md-6.col-sm-10
                                input#settings-password-confirm.form-control.input-sm(
                                name='password-confirm' type='password')
                        hr
                        div.row
                            div.col-sm-10.col-sm-offset-2
                                button.btn.btn-primary.btn-sm(type='submit')
                                    i.fa.fa-floppy-o
                                    | &nbsp;&nbsp;Save